#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1e3041;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
  margin: 5px;
  opacity: 1;
}

button:hover {
  background-color: #45627d;
}

button:focus-visible {
  box-shadow: inset 0 0 0 2px #45627d, inset 0 0 0 4px #6589ab;
}

input {
  margin: 5px;
  border-radius: 8px;
  padding: 10px 20px;
}

.recipe-edit-button {
  outline: none;
  border-color: #1e3041;
  background-color: transparent;
  color: #1e3041;
  transition: all 0.2s ease-in-out;
}
.recipe-edit-button:hover {
  border-color: #45627d;
  background-color: transparent;
  color: #45627d;
}

.recipe-delete-button {
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.recipe-ingredients-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  padding: 1rem;
}

.recipe-ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
  margin: 0;
}

.recipe-ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ececec;
}

.shopping-list-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
  padding: 1rem;
}

